@import components/variables
@import components/mixins
@import components/fonts


*
    margin: 0
    padding: 0
    box-sizing: border-box

body::-webkit-scrollbar
    width: 8px
    height: 8px
    background: rgba(31, 67, 99, 0.2)

body::-webkit-scrollbar-thumb
    background: rgb(254, 194, 0.8)
    border-radius: 4px
    &:hover
        background: rgb(254, 194, 0.8)
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1)

body
    position: relative
    .scroll-down
        position: fixed
        bottom: 20px
        right: 20px
        width: 50px
        height: 50px
        background: $secondary-color
        border-radius: 10px
        box-shadow: 0px 11px 30px -5px $secondary-color
        z-index: 2000
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.3s ease
        opacity: 0
        visibility: hidden
        cursor: pointer
        &:hover
            background: $primary-color
        &.active
            opacity: 1
            visibility: visible
        i
            position: relative
            color: white
    &.active-scroll
        overflow-y: hidden

.container
    width: 100%
    margin: auto
    padding: 20px 40px

@import nav

// ============= BLOG CARRUSEL ================  
.blog-carrusel
    position: relative
    padding-bottom: 120px
    .container
        display: none    // -------------------------------- OCULTE EL SLIDER BLOG
        .slider-blog
            margin: auto
            position: relative
            max-width: 1200px
            width: 100%
            height: 500px
            .swiper-container 
                width: 100%
                height: 100%
                border-radius: 10px
                -webkit-box-shadow: 0px 10px 34px -5px rgba(30,67,99,0.5)
                -moz-box-shadow: 0px 10px 34px -5px rgba(30,67,99,0.5)
                box-shadow: 0px 10px 34px -5px rgba(30,67,99,0.5)
                .swiper-wrapper
                    .swiper-slide 
                        display: flex
                        position: relative 
                        .contenido
                            position: relative
                            width: 50%
                            border-top-left-radius: 10px
                            border-bottom-left-radius: 10px
                            background-color: $primary-color
                            padding: 45px 30px 45px 60px
                            display: flex
                            align-items: center
                            .content-flex
                                position: relative
                                h2
                                    font-size: 2em
                                    font-family: $font-principal
                                    font-weight: 600
                                    color: white
                                hr
                                    width: 100px
                                    margin-top: 14px
                                    margin-bottom: 20px
                                .autor-fecha
                                    position: relative
                                    font-family: $font-principal
                                    color: $secondary-color
                                    font-size: 1em
                                    margin-bottom: 30px
                                    .punto-medio
                                        font-weight: bold
                                        padding: 0 5px
                                p
                                    font-family: $font-secundario
                                    color: white
                                    opacity: 0.8
                                    font-size: 1em
                                    line-height: 24px
                                    margin-bottom: 20px
                                a
                                    display: inline-block
                                    text-decoration: none
                                    background: $secondary-color
                                    font-family: $font-principal
                                    text-transform: uppercase
                                    font-size: 1.125em
                                    font-weight: 500
                                    color: white
                                    border-radius: 30px
                                    padding: 14px 30px
                                    -webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75)
                                    -moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75)
                                    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75)
                                    transition: all 0.3s ease
                                    &:hover
                                        transform: scale(1.05)
                        .contenido-imagen
                            width: 50%
                            object-fit: cover
                            border-top-right-radius: 10px
                            border-bottom-right-radius: 10px
                            overflow: hidden
                            position: relative
                            svg
                                position: absolute
                                left: -61%
                                display: none
                            img
                                width: 100%
                .swiper-pagination
                    .swiper-pagination-bullet
                        width: 12px
                        height: 12px
                    .swiper-pagination-bullet-active
                        background: $secondary-color
                .swiper-button-next, 
                .swiper-button-prev
                    color: $secondary-color
        
// ============= POSTS GRID ================ 
.posts
    position: relative
    padding-bottom: 50px
    .container-full
        position: relative
        width: 100%
        .posts-grid
            position: relative
            display: grid
            grid-template: 
                columns: repeat(1, 1fr)
            .post
                position: relative
                margin: auto
                overflow: hidden
                width: 100%
                height: 100%
                box-shadow: 0px 6px 20px 1px rgba(30, 67, 99, 0.3)
                .box-img
                    width: 100%
                    position: relative
                    a
                        position: relative
                        width: 100%
                        display: block
                        img
                            width: 100%
                            height: 250px
                            object-fit: cover
                    svg
                        margin-top: -126px
                .box-content
                    position: relative
                    width: 100%
                    height: 200px
                    padding: 10px 20px 20px
                    .date-name
                        width: 100%
                        display: flex
                        justify-content: space-between
                        font-family: $font-principal
                        span
                            font-size: 0.750em
                            color: $secondary-color
                    .title-blog
                        margin: 10px 0
                        width: 100%
                        h4     
                            font-size: 1.250em
                            font-family: $font-principal
                            line-height: 25px
                            text-align: left
                            a
                                text-decoration: none
                                color: $primary-color
                                transition: all 0.3s ease
                                &:hover
                                    color: $secondary-color
                                    text-shadow: 0px 1px 2px rgba(0,0,0,0.2)
                    .text-blog
                        width: 100%
                        p
                            display: block
                            display: -webkit-box
                            -webkit-line-clamp: 3
                            -webkit-box-orient: vertical
                            overflow: hidden
                            font-family: $font-secundario
                            text-align: justify
                            color: $font-text-color
                            font-size: 1em
                            text-overflow: ellipsis                  
// ============= SUSCRIPCION A NEWSLLTTER ================

.suscribete
    position: relative
    background: $primary-color
    padding: 20px 0
    overflow: hidden
    z-index: 100
    .circulo-1
        position: absolute
        top: 5%
        left: -70px
        border: 20px solid rgba(255,255,255,0.1)
        border-radius: 50%
        background: transparent
        width: 120px
        height: 120px
    .circulo-2
        position: absolute
        bottom: 5%
        right: -75px
        border: 20px solid rgba(255,255,255,0.1)
        border-radius: 50%
        background: transparent
        width: 100px
        height: 100px
        z-index: 200
    .square-1
        position: absolute
        width: 100px
        height: 100px
        bottom: -1%
        left: -80px
        background: transparent
        border: 15px solid $secondary-color
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)
        animation: square-anim 20s linear infinite
    .square-2
        position: absolute
        width: 100px
        height: 100px
        top: -1%
        right: -80px
        background: transparent
        border: 15px solid $secondary-color
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)
        animation: square-anim 20s linear infinite
        @keyframes square-anim
            0%
                transform: rotate(0deg)
            100%
                transform: rotate(360deg)
                
    .container
        z-index: 300
        .title
            width: 100%
            padding: 0 0 10px
            display: flex
            justify-content: center
            align-items: center
            h2
                padding: 0px 
                font-weight: 700
                text-align: center
                font-size: 1.55em
                font-family: $font-principal
                color: white
        p
            font-size: 1em
            font-weight: 300
            font-family: $font-secundario
            text-align: center
            color: rgba(255,255,255,0.8)
        .formulario
            width: 100%
            padding: 20px 0
            form
                .form-group
                    width: 100%
                    .input-box
                        font-family: $font-principal
                        width: 100%
                        display: block
                        margin-bottom: 20px
                        padding: 14px 24px
                        border: none
                        border-radius: 50px
                        background: rgba(255, 255, 255, 0.7)
                        color: $primary-color
                        font-weight: 500
                        outline: none
                        font-size: 1em
                    .input-submit
                        font-family: $font-principal
                        width: 100%
                        display: block
                        background: $secondary-color
                        padding: 12px
                        font-size: 1.125em
                        font-weight: 500
                        transition: all 0.3s ease
                        border: none
                        border-radius: 50px
                        color: white
                        outline: none
                        cursor: pointer
                        border: 1px solid $secondary-color
                        &:hover
                            transform: scale(1.05)
                            background: white
                            color: $secondary-color
                            box-shadow: 0px 10px 8px 0px rgba(254, 194, 0, 0.1)

// ============== MENSAJE PARA CONTACTARME ================     
@keyframes giro
    0%
        transform: rotate(45deg)
    100%
        transform: rotate(315deg)               
.contactarme
    position: relative
    .circle-1,         
    .circle-2,         
    .circle-3
        display: none
    .container     
        padding-top: 50px    
        .title
            width: 100%
            padding: 0 0 10px
            h2
                font-weight: 700
                text-align: center
                font-size: 1.625em
                font-family: $font-principal
                color: $font-color-2
            .title-2
                display: flex
                justify-content: center
                align-items: center
                h2
                    padding: 0px 15px 
                    font-weight: 700
                    text-align: center
                    font-size: 1.500em
                    font-family: $font-principal
                    color: $font-color-2
                .rombo-1
                    animation: giro 4s linear infinite
        .line
            @include line
            margin-bottom: 20px 
        p
            font-family: $font-secundario
            color: $font-text-color
            line-height: 30px
            text-align: justify
            margin-bottom: 20px
        .btn 
            position: relative
            width: 100%
            .contact-now
                position: relative
                display: block
                text-align: center
                padding: 13px
                font-family: $font-principal
                text-decoration: none
                color: white
                font-size: 1.125em
                border-radius: 50px
                transition: all 0.3s ease
                font-weight: 500
                box-shadow: 0px 10px 8px 0px  rgba(0,0,0,0.1)
                border: 1px solid $secondary-color
                background: $secondary-color
                &:hover
                    transform: scale(1.05)
                    background: white
                    color: $secondary-color
                    box-shadow: 0px 10px 8px 0px rgba(254, 194, 0, 0.3)

// =================== FOOTER ========================
.footer
    width: 100%
    padding: 60px 0px 0px 0px
    position: relative
    font-family: $font-principal
    background: $primary-color
    svg
        position: absolute
        transform: rotate(180deg)
        top: -1px
    .list-nav
        position: relative
        ul
            list-style: none
            li
                position: relative
                width: 100%
                padding: 5px 0
                a
                    position: relative
                    text-decoration: none
                    color: rgba(255,255,255,0.8)
                    font-size: 1.250em
                    transition: all 0.3s ease
                    font-weight: 500
                    &:hover
                        color: white
            .list-nav-active 
                a
                    color: $secondary-color
                    display: flex
                    align-items: center
                    &:hover
                        color: $secondary-color
                    .square-3
                        margin-right: 10px
                        width: 12px
                        height: 12px 
                        border: 3px solid $secondary-color
                        animation: square-footer 6s linear infinite
                        @keyframes square-footer
                            0%
                                transform: rotate(0deg)
                            100%
                                transform: rotate(360deg)
    .list-red
        position: relative
        display: flex
        justify-content: center
        a
            color: white
            font-size: 1.500em
            margin: 10px 15px
            transition: all 0.3s ease
            &:hover
                color: $secondary-color
    hr
        border: none
        background-color: white
        height: 1px
        margin: 10px 0 0px
    .line-fin
        position: relative
        width: 100%
        text-align: center
        padding: 0px 0px 16px
        p
            font-size: 1em
            font-weight: 300
            color: white       

@import components/queries    